@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.view {
    height: 100vh;
    width: 100vw;
}

.messages {
    max-height: 100%;
    overflow-y: auto;
}

.message {
    background-color: #005C4B;
    color: #e9edef;
}

.message-text {
    word-break: break-all;
}

small {
    font-size: 0.7em;
}